.map-scale-inputs {
  display: flex;
  gap: 10px;
}

#layer-list {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #3c3c3c;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.layer-item.active {
  border-color: #00aaff;
}

.layer-item span {
  flex-grow: 1;
}

.layer-controls button {
  width: auto;
  padding: 4px 8px;
  margin: 0 0 0 5px;
  font-size: 16px;
}