/* 
  :host - это сам тег <app-root>. Мы растягиваем его на всю высоту родителя (body)
  и делаем его flex-контейнером.
*/
:host {
  display: flex;
  height: 100%;
}

/* 
  #game-container - это div внутри нашего компонента.
  Он тоже становится flex-контейнером и занимает всё доступное пространство.
  Именно он заставит холст и панель встать в ряд.
*/
#game-container {
  display: flex;
  flex-grow: 1;
}