<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <p>ID: {{ selectedObjectInfo?.id }}</p>
    <p>x: {{ selectedObjectInfo?.position?.x }}</p>
    <p>y: {{ selectedObjectInfo?.position?.y }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Укрепиться</button>
    <button mat-raised-button color="warn">Подавить</button>
    <button mat-raised-button>Сброс</button>
    <button mat-button>1212</button>
  </mat-card-actions>
</mat-card>
